In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests as r

url = 'https://www.al.sp.gov.br/repositorio/folha-de-pagamento/folha-2018-10.html'
data = r.get(url).content
soup = BeautifulSoup(data, 'html.parser')

In [2]:
lista = []
for tr in soup.find_all('tr')[1:]:
    col = 0
    for i in tr.find_all('td'):
        td_limpo = i.get_text().strip()
        if col == 0:
            nome = td_limpo
        if col == 1:
            bruto = td_limpo.replace('.', '').replace(',', '.')
        if col == 2:
            liquido = td_limpo.replace('.', '').replace(',', '.')
            lista.append({'nome': nome, 
                          'vlr_bruto': float(bruto), 
                          'vlr_liquido': float(liquido)})
        col += 1
df = pd.DataFrame(lista, columns = ['nome', 'vlr_bruto', 'vlr_liquido'])

In [3]:
df.head(10)

                           nome  vlr_bruto  vlr_liquido
0    ABALDINO FERREIRA DA SILVA    3257.68      2776.83
1                 ABEL CASTILHO    1369.69      1292.01
2                  ABEL PEREIRA   17670.21     13244.92
3        ABENOR GARCIA FERREIRA   22919.10     17871.01
4  ABILIO DO LIVRAMENTO P ALVES   15660.75     10919.05
5    ABNEIA BUFFOLIN BROCANELLI    6704.12      5257.17
6          ABNER REISES BARBOSA    1590.02      1437.87
7       ABRAAO MOREIRA DA SILVA    3257.68      2792.76
8        ABRAHAO RICARDO HACKME   10280.17      7804.42
9     ACACIA DE ASSIS NEGREIROS    8717.24      7375.92

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4970 entries, 0 to 4969
Data columns (total 3 columns):
nome           4970 non-null object
vlr_bruto      4970 non-null float64
vlr_liquido    4970 non-null float64
dtypes: float64(2), object(1)
memory usage: 97.1+ KB

In [5]:
df['nome'].nunique()

4952

In [6]:
df[df['nome'].duplicated(keep=False)]

                                          nome  vlr_bruto  vlr_liquido
266                         ANA MARIA DA SILVA   15512.33     11533.25
267                         ANA MARIA DA SILVA   11477.80      8643.21
447                         ANTONIO DOS SANTOS   18963.59     14066.82
448                         ANTONIO DOS SANTOS   13471.61     12990.27
906                           CLAUDIO FERREIRA   14922.78     11062.24
907                           CLAUDIO FERREIRA   10399.47     10242.54
2174            JOAO CARLOS FRANCISCO DA SILVA   14643.96     10968.42
2175            JOAO CARLOS FRANCISCO DA SILVA   19316.84     14345.50
2326              JOSE CARLOS DUARTE DE TOLEDO   12043.71      8889.92
2327              JOSE CARLOS DUARTE DE TOLEDO   13278.54      9600.05
2337                       JOSE CARLOS PEREIRA   16246.06     12047.56
2338                       JOSE CARLOS PEREIRA   15637.10     14902.20
2375                            JOSE GONCALVES   16449.14     12250.90
2376                            JOSE GONCALVES   10207.82      7699.79
2445                     JOSE ROBERTO DA SILVA    8874.36      6780.67
2446                     JOSE ROBERTO DA SILVA   15512.33     11533.25
2463                           JOSE RUIZ NETTO   18846.10     13516.42
2464                           JOSE RUIZ NETTO    6476.15      4565.24
2846                 LUIZ FERNANDO DE CARVALHO   10084.45      7308.06
2847                 LUIZ FERNANDO DE CARVALHO    9859.06      7618.38
3146                  MARIA APARECIDA DE SOUZA    3257.68      2806.98
3147                  MARIA APARECIDA DE SOUZA   10222.35      8373.10
3366  MARILUCIA PARDINI OLBRICH ZANELATO BUCHI   21402.74     14753.48
3367  MARILUCIA PARDINI OLBRICH ZANELATO BUCHI    3257.68      2228.98
3822              PAULO EDUARDO ALVES FERREIRA    3257.68      2776.83
3823              PAULO EDUARDO ALVES FERREIRA    8178.56      6250.71
3995                         REINALDO DA SILVA   12942.92      9688.74
3996                         REINALDO DA SILVA   13778.72     10353.66
4058                       RICARDO DE OLIVEIRA    8090.38      6205.73
4059                       RICARDO DE OLIVEIRA   22680.24     16655.36
4418                            SHIGUERO ORITA    9030.40      6797.84
4419                            SHIGUERO ORITA   10815.97      8130.34
4522        SONIA MARIA CARNEIRO D ALBUQUERQUE   10823.56      7856.94
4523        SONIA MARIA CARNEIRO D ALBUQUERQUE   14498.69     10710.08
4563            SUELI SOARES FARIA DE OLIVEIRA   12731.97      9531.17
4564            SUELI SOARES FARIA DE OLIVEIRA    8902.51      6552.48